body
{

    background-image: url(test1.jpg);
   
}

h1
{
    border-style: solid;
    border-width: 10;
    color:magenta;
    border: white;
    background-color: skyblue;
    background-size: 100%;
    text-align: center;
    margin:  0%;
    height: 60px;
    position:static;
    margin-bottom: 40px;
    font-size: xx-large;
}

.Admin1 h2
{

text-align: center;
position: static;
color: aqua;
font-size:xx-large;

}


.Admin2 
{
text-align: center;

  
}

.button1
{
    border-color: black;
    border-style: ridge;
    float:left;
    left: 50%;
    height:50px;
    width: 120px;   
    text-align: center;
    position: fixed;
    
   background-color: #ddd;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  border-radius: 16px;
  font-size:x-large;
  margin-left: -120px;
}
.button2
{
    border-color: black;
    border-style: ridge;
    float: left;
    left: 50%;
    height:50px;
    width: 120px;  
    text-align: center;
    position: fixed;
  font-size:x-large;
  background-color: #ddd;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  border-radius: 16px;
  
}


