body
{

    background-image: url(Background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
   
}

.Admin1 h1
{
    border-style: solid;
    border-width: 10;
    color:magenta;
    border: white;
    background-color: skyblue;
    background-size: 100%;
    text-align: center;
    margin:  0%;
    height: 60px;
    position:static;
    margin-bottom: 40px;
    font-size: xx-large;
}

.Admin1 h2
{

text-align: center;
position: static;
color: aqua;
font-size:xx-large;

}


.Admin2 
{
text-align: center;

  
}

.button1
{
    border-color: black;
    border-style: ridge;
    float:left;
    left: 50%;
    height:50px;
    width: 120px;   
    text-align: center;
    position: fixed;
    
   background-color: #ddd;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  border-radius: 16px;
  font-size:x-large;
  margin-left: -120px;
}
.button2
{
    border-color: black;
    border-style: ridge;
    float: left;
    left: 50%;
    height:50px;
    width: 120px;  
    text-align: center;
    position: fixed;
  font-size:x-large;
  background-color: #ddd;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  border-radius: 16px;
  
}



.fa {
    
    text-align: center;
    text-decoration: none;
    align-items: center;

   
  }
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
    padding: 10px;
    font-size: 30px;
    width: 30px;
   
    top: 400px;
    left: 600px;
    position: absolute;
  }  

  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 10px;
    font-size: 30px;
    width: 30px;
    position: fixed;
    top: 400px;
    left: 700px;
  }

  .fa-instagram {
    background: #125688;
    color: white;
    padding: 10px;
    font-size: 30px;
    width: 30px;
    position: fixed;
    top: 400px;
    left: 800px;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
    padding: 10px;
    font-size: 30px;
    width: 30px;
    position: fixed;
    top: 400px;
    left: 900px;
  }

  