
*  {box-sizing: border-box;}

body  { 
  /*
  background: url(Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/

    background: url(BUE.jpg); 
      background-size: 100vw 100vh;
      background-repeat: no-repeat;
      position: fixed;
  
}


.head{
  text-align: center;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%) translateY(-5%);
  margin: none;
  font-size: xx-small;
  color: white;
}

.Pop-Up
{
  text-align: center;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-20%);
  width: 150px;
  height: 50px;
  margin: 0%;
  padding: 0%;
}
/*FOR THE LOG IN BUTTON DESIGN*/
.open-button
{
  border-style: solid;
  border-color: aqua;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 25%;
  background-color: grey;
  text-transform: uppercase;
  font-size: small;
  text-align: center;
  margin: 0%;
}

.open-button:hover
{
  opacity: 1px;
}


.fa:hover {
  opacity: 0.9;
}


.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-youtube {
background: #dd4b39;
color: white;
}

.fa-instagram {
background: #007bb5;
color: white;
}

.fa-google {
background: #bb0000;
color: white;

}


.fa {
  padding: 10px;
  font-size: 30px;
  width: 60px;
  text-decoration: none;
  margin: 5px 20px;
  border-radius: 15px;
}

.Music
{
  position: fixed;
  top: 20%;
  right: 0%;
  height: 10%;
  border-radius: 40px;
  border-color: aqua;

}

/* Create three equal columns that floats next to each other */

.column1
{
  margin: 5px;
  position:fixed;
  top: 60%;
  left:27%;
  transform: translateX(-30%) translateY(-70%);
  text-align: center;
  color: white;

}

.column2
{
  margin: 5px;
  position:fixed;
  top: 60%;
  left:50%;
  transform: translateX(-50%) translateY(-70%);
  text-align: center;
  color: white;
}

.column3
{
  margin: 10px;
  position:fixed;
  top: 60%;
  left:70%;
  transform: translateX(-30%) translateY(-73%);
  text-align: center;
  color: white;
}
 

.Anime
{
  width: 50px;
   height: 50px;
   border-style: solid;
   border-color: gainsboro;
   border-radius: 15px;
   padding: 10%;
}

.Photo
{
  width: 50px;
  height: 50px;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 15px;
  padding: 10%;
}

.Porn
{
  width: 50px;
  height: 50px;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 15px;
  padding: 15%;
  
}

.foot3
{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-image: url(japanese.png);
text-align: center;
border-style:solid;
border-color: aqua;
border-radius: 15px;

}
