


body  { 
  background: url(Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



.head{
  text-align: center;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: none;
  font-size: xx-small;
}

.Pop-Up
{
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 150px;
  height: 50px;
  margin: 0%;
  padding: 0%;
}
/*FOR THE LOG IN BUTTON DESIGN*/
.open-button
{
  border-style: solid;
  border-color: aqua;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 25%;
  background-color: grey;
  text-transform: uppercase;
  font-size: small;
  text-align: center;
  margin: 0%;
}

.open-button:hover
{
  opacity: 1px;
}

.audioPlayer
{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0%;
  padding: 0%;
}
  


.fa {
  padding: 5px;
  font-size: 15px;
  text-decoration: none;
  width: 40px;
  margin: 0%;

}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
margin: 5 px;
border-radius: 15px;


}

.fa-twitter {
background: #55ACEE;
color: white;
margin: 5 px;
border-radius: 15px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  margin: 5 px;
  border-radius: 15px;
}

.fa-instagram {
  background: #125688;
  color: white;
  margin: 5 px;
  border-radius: 15px;
}


.fa-google {
  background: #dd4b39;
  color: white;
  margin: 5 px;
  border-radius: 15px;
}



footer {
  background-image: url(japanese.png);
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.9;
  border-color: gray;
  border-style: solid;
  border-radius: 40px;
  margin: 5 px;
  display:inline;
  width: 80%;
}
