
.body {
    
   background-color: skyblue;
   background-size:cover;

  

  }

    @media (orientation: landscape) and (max-width: 1080px) {
      body {
        width: 100%; /* Adjust styles for mobile landscape */
       
      }
    }
      @media (orientation: landscape) and (max-height: 1080px){
      body
      {
          height: 100%;
      }
  }
  
  @media (orientation: portrait) and (max-width: 1080px){
    body {
      width: 100%; /* Adjust styles for mobile landscape */
    }
  }
   @media (orientation: portrait) and (max-height: 1080px){
    body {
       height: 100%; /* Adjust styles for mobile landscape */
    }
  }
  
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
  }
  
  .Home a:hover {
    background-color: #dddddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }



.Pagedetails
{

 position: absolute;
 top: 10%;
 transform: translateX(-50%);
 transform: translateY(1%);
background-color: rgb(175, 20, 241);
 background-size: cover;
 background-size: no-repeat;
 margin-top: -20px;
 width: 100%;
 height: 1500px;
 border-style: solid;
border-color: black;
border-width: 5px;

}

.Pagedetails1
{
 position: absolute;
 top: 10%;
 transform: translateX(-50%);
 transform: translateY(1%);
background-color: rgb(101, 241, 20);
 background-size: cover;
 background-size: no-repeat;
 margin-top: -20px;
 width: 100%;
 height: 1500px;
 border-style: solid;
border-color: black;
border-width: 5px;

   

}

.Pagedetails2
{
 position: absolute;
 top: 10%;
 transform: translateX(-50%);
 transform: translateY(1%);
background-color: rgb(20, 171, 241);
 background-size: cover;
 background-size: no-repeat;
 margin-top: -20px;
 width: 100%;
 height: 1500px;
 border-style: solid;
border-color: black;
border-width: 5px;


}

.Pagedetails3
{

    
 position: absolute;
 top: 10%;
 transform: translateX(-50%);
 transform: translateY(1%);
 background-color: rgb(20, 241, 156);
 background-size: cover;
 background-size: no-repeat;
 margin-top: -20px;
 width: 100%;
 height: 1500px;
 border-style: solid;
 border-color: black;
 border-width: 5px;
   

}

.Pagedetails4
{

    
 position: absolute;
 top: 10%;
 transform: translateX(-50%);
 transform: translateY(1%);
background-color: rgb(83, 20, 241);
 background-size: cover;
 background-size: no-repeat;
 margin-top: -20px;
 width: 100%;
 height: 1500px;
 border-style: solid;
border-color: black;
border-width: 5px;

   

}

.Pagedetails5
{

 position: absolute;
 top: 10%;
 transform: translateX(-50%);
 transform: translateY(1%);
background-color: rgb(241, 237, 20);
 background-size: cover;
 background-size: no-repeat;
 margin-top: -20px;
 width: 100%;
 height: 1500px;
 border-style: solid;
border-color: black;
border-width: 5px;


}

.Pagedetails6
{

 position: absolute;
 top: 10%;
 transform: translateX(-50%);
 transform: translateY(1%);
background-color: rgb(241, 20, 156);
 background-size: cover;
 background-size: no-repeat;
 margin-top: -20px;
 width: 100%;
 height: 1500px;
 border-style: solid;
border-color: black;
border-width: 5px;

   
}

.Homepage
{
 text-align: center;
}


.Picture1
{
text-align: center;
margin-left: -40px;
border-color: black ;
border-style: solid;
width: 100%;
}
Picture
{
 display:inline;
 grid-template-rows: repeat(4,1fr) ;
 margin: 5px;
 padding: 5px;

}

.Photo1
{
width: 250px;
height: 200px;
margin: 5px;
padding: 10px;
margin-left: -10%;
}

.Photo2
{
    width: 250px;
    height: 200px;
    margin: 5px;
    padding: 10px;
}

.Photo3
{
    width: 250px;
    height: 200px;
    margin: 5px;
padding: 10px;
}
.Photo4
{
    width: 250px;
    height: 200px;
    margin: 5px;
    padding: 10px;
}

.VIdeo1
{
text-align: center;
margin-left: -40px;
border-color: black ;
border-style: solid;
width: 100%;
}
.VIdeo
{
 display:inline;
 grid-template-rows: repeat(3,1fr) ;
 margin: 1px;
 padding: 0.1px;
}

.video1
{
width: 250px;
height: 200px;
}

.video2
{
    width: 250px;
    height: 200px;
}

.video3
{
    width: 250px;
    height: 200px;
}


.Music1
{
text-align: center;
margin-left: -40px;
border-color: black ;
border-style: solid;
width: 100%;
}
.Music
{
 display:inline;
 grid-template-rows: repeat(3,1fr) ;
 margin: 1px;
 padding: 0.1px;
}

.music1
{
width: 250px;
height: 200px;
}

.music2
{
    width: 250px;
    height: 200px;
}

.music3
{
    width: 250px;
    height: 200px;
}