

   .body 
   {
   background-color: skyblue;
  
  }  

    .Arrow
  {
  text-decoration: none;
  font-size: x-large;
  }
  
.topnav {
    overflow: hidden;
    background-color: #333;
    width: 179%;

  }
  
  .topnav a {
    float: inline-start;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 1%;
    text-decoration: none;
    font-size: 15px;
    display: inline-flex;
    margin-left: 8%;
  }
  

  .Home a:hover {
    background-color: #dddddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }



.Pagedetails
{
 position: absolute;
 top: 10%;
 transform: translateX(50%);
 transform: translateY(2%);
 background-color: rgb(175, 20, 241);
 background-size: no-repeat;
 width:160%;
 height: cover;
 border-style: solid;
 border-color: black;


}

.Pagedetails1
{
  position: absolute;
 top: 10%;
 transform: translateX(50%);
 transform: translateY(2%);
 background-color: rgb(175, 20, 241);
 background-size: no-repeat;
 width:max-content;
 height: cover;
 border-style: solid;
 border-color: black;
}

.Pagedetails2
{
  position: absolute;
 top: 10%;
 transform: translateX(50%);
 transform: translateY(2%);
 background-color: rgb(175, 20, 241);
 background-size: no-repeat;
 width:max-content;
 height: cover;
 border-style: solid;
 border-color: black;

}

.Pagedetails3
{
 position: absolute;
 top: 10%;
 transform: translateX(50%);
 transform: translateY(2%);
 background-color: rgb(175, 20, 241);
 background-size: no-repeat;
 width:max-content;
 height: cover;
 border-style: solid;
 border-color: black;
}

.Pagedetails4
{
  position: absolute;
 top: 10%;
 transform: translateX(50%);
 transform: translateY(2%);
 background-color: rgb(175, 20, 241);
 background-size: no-repeat;
 width:max-content;
 height: cover;
 border-style: solid;
 border-color: black;

   

}

.Pagedetails5
{
 position: absolute;
 top: 10%;
 transform: translateX(50%);
 transform: translateY(2%);
 background-color: rgb(175, 20, 241);
 background-size: no-repeat;
 width:max-content;
 height: cover;
 border-style: solid;
 border-color: black;
}

.Pagedetails6
{
  position: absolute;
 top: 10%;
 transform: translateX(50%);
 transform: translateY(2%);
 background-color: rgb(175, 20, 241);
 background-size: no-repeat;
 width:max-content;
 height: cover;
 border-style: solid;
 border-color: black;

   
}

.Homepage
{
 text-align: center;
}


.Picture1
{
text-align: center;
margin-left: -20px;
border-color: black ;
border-style: solid;
margin-left: -30%;

}
Picture
{
 display:inline;
 grid-template-rows: repeat(2) ;
 margin: 50px;
 padding: 15px;
 margin-left: -20%;

}

.Photo1
{
width: 150px;
height: 100px;
margin: 5px;
padding: 5px;

}

.Photo2
{
   width: 150px;
height: 100px;
margin: 5px;
padding: 5px;
  
}
/*
.Photo3
{
     width: 150px;
height: 100px;
margin: 5px;
padding: 5px;
}
.Photo4
{
     width: 150px;
height: 100px;
margin: 5px;
padding: 5px;
}
*/
.VIdeo1
{
text-align: center;
margin-left: -20px;
border-color: black ;
border-style: solid;
width: 100%;
}
.VIdeo
{
 display:inline;
 grid-template-rows: repeat(3,1fr) ;
 margin: 1px;
 padding: 0.1px;
}

.video1
{
   width: 150px;
    height: 100px;
}

.video2
{
      width: 150px;
    height: 100px;
}

.video3
{
    width: 150px;
    height: 100px;
}


.Music1
{
text-align: center;
margin-left: -20px;
border-color: black ;
border-style: solid;
width: 100%;
}
.Music
{
 display:inline;
 grid-template-rows: repeat(3,1fr) ;
 margin: 1px;
 padding: 0.1px;
}

.music1
{
   width: 150px;
    height: 100px;
}

.music2
{
     width: 150px;
    height: 100px;
}

.music3
{
       width: 150px;
    height: 100px;
}