

   .body 
   {
   background-color: skyblue;
   background-size: cover;
  }


    
  
.topnav {
    overflow: hidden;
    background-color: #333;
    width: 160%;
    padding-right: 2%;
    margin: auto;
    margin-inline-end: 0%;
   
  }
  
  .topnav a {
    float: inline-start;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 22px;
    display: inline-flex;
  }
  

  .Home a:hover {
    background-color: #dddddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }



.Pagedetails
{
 position: absolute;
 top: 10%;
 transform: translateX(50%);
 transform: translateY(2%);
 background-color: rgb(175, 20, 241);
 background-size: no-repeat;
 width:max-content;
 height: cover;
 border-style: solid;
 border-color: black;


}

.Pagedetails1
{
  position: absolute;
 top: 10%;
 transform: translateX(50%);
 transform: translateY(2%);
 background-color: rgb(175, 20, 241);
 background-size: no-repeat;
 width:max-content;
 height: cover;
 border-style: solid;
 border-color: black;
}

.Pagedetails2
{
  position: absolute;
 top: 10%;
 transform: translateX(50%);
 transform: translateY(2%);
 background-color: rgb(175, 20, 241);
 background-size: no-repeat;
 width:max-content;
 height: cover;
 border-style: solid;
 border-color: black;

}

.Pagedetails3
{
 position: absolute;
 top: 10%;
 transform: translateX(50%);
 transform: translateY(2%);
 background-color: rgb(175, 20, 241);
 background-size: no-repeat;
 width:max-content;
 height: cover;
 border-style: solid;
 border-color: black;
}

.Pagedetails4
{
  position: absolute;
 top: 10%;
 transform: translateX(50%);
 transform: translateY(2%);
 background-color: rgb(175, 20, 241);
 background-size: no-repeat;
 width:max-content;
 height: cover;
 border-style: solid;
 border-color: black;

   

}

.Pagedetails5
{
 position: absolute;
 top: 10%;
 transform: translateX(50%);
 transform: translateY(2%);
 background-color: rgb(175, 20, 241);
 background-size: no-repeat;
 width:max-content;
 height: cover;
 border-style: solid;
 border-color: black;
}

.Pagedetails6
{
  position: absolute;
 top: 10%;
 transform: translateX(50%);
 transform: translateY(2%);
 background-color: rgb(175, 20, 241);
 background-size: no-repeat;
 width:max-content;
 height: cover;
 border-style: solid;
 border-color: black;

   
}

.Homepage
{
 text-align: center;
}


.Picture1
{
text-align: center;
margin-left: -40px;
border-color: black ;
border-style: solid;
width: 100%;
}
Picture
{
 display:inline;
 grid-template-rows: repeat(4,1fr) ;
 margin: 5px;
 padding: 5px;

}

.Photo1
{
width: 250px;
height: 200px;
margin: 5px;
padding: 10px;
margin-left: -10%;
}

.Photo2
{
    width: 250px;
    height: 200px;
    margin: 5px;
    padding: 10px;
}

.Photo3
{
    width: 250px;
    height: 200px;
    margin: 5px;
padding: 10px;
}
.Photo4
{
    width: 250px;
    height: 200px;
    margin: 5px;
    padding: 10px;
}

.VIdeo1
{
text-align: center;
margin-left: -40px;
border-color: black ;
border-style: solid;
width: 100%;
}
.VIdeo
{
 display:inline;
 grid-template-rows: repeat(3,1fr) ;
 margin: 1px;
 padding: 0.1px;
}

.video1
{
width: 250px;
height: 200px;
}

.video2
{
    width: 250px;
    height: 200px;
}

.video3
{
    width: 250px;
    height: 200px;
}


.Music1
{
text-align: center;
margin-left: -40px;
border-color: black ;
border-style: solid;
width: 100%;
}
.Music
{
 display:inline;
 grid-template-rows: repeat(3,1fr) ;
 margin: 1px;
 padding: 0.1px;
}

.music1
{
width: 250px;
height: 200px;
}

.music2
{
    width: 250px;
    height: 200px;
}

.music3
{
    width: 250px;
    height: 200px;
}