
body {
    
  background-image: linear-gradient(to right, skyblue, magenta);
   background-image: no-repeat;
   flex-wrap: auto;

  }
  
  .Foot
  {
    position: absolute;
    left:0%;
    top: 130%;
    width: 100%;
    height: 35%;
    transform: translateX(-100%);
    transform: translateY(-100%);
    margin-bottom: 0%;
    background-color: beige;
    border-style: solid;
  } 

  .Head
  {
  font-size: 100px;
  margin-bottom: 0%;
  
  }
  
  .Wel
  {
   position: absolute;
   font-size: xx-large;
   top: auto;
   left: 55%;
   transform: translateX(-50%);
    transform: translateY(-50%);
  }

  .Log
  {
   position: absolute;
   color: blue;
   margin-left: -8%;
   top: auto;
   left: 60%;
   transform: translateX(-50%);
    transform: translateY(-50%);
  }
  .Signup
  {
   position: absolute;
   color: white;
   margin-left: 5%;
   top: auto;
   left: 60%;
   transform: translateX(-50%);
    transform: translateY(-50%);
  }

.Music
  {
  font-size: 25px; 
  background-image: linear-gradient(to right, black, grey);
  color: peachpuff;
  text-align: center;
  width: 100%;

  }

.song
  {
  list-style-type:  none;
  }


.Media
{
margin-top: 0%;
 height: 40%;
 width: 50%;
}

.fa {
  
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 2px;
  border-radius: 30%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}


.Pictures
{
  
}

.Pic1
{
  position: absolute;
  left: 70%;
  top: 60%;
  transform: translateY(-70%);
  transform: translateX(-60%);
  margin: 0%;

}
