body
{
background-image: url(Fuji.jpg);
background-repeat: no-repeat;
background-size: cover; /* Optional: ensures the image covers the whole background */
background-attachment: fixed; /* This is the key property */
background-position: center; /* Optional: centers the image */
}


.Details
{
    /*This Section is for the POSITION */
  position: absolute;
  
  top: 45%;
  left: 20%;
  transform: translateX(-5%);
  transform: translateY(-20%);

  width: 60vw;
  height: 50vh;

  /*This Section is for  TEXT DESIGN*/
  font-size: small;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
 
  color: black;


 }

.Submit
{
 color: black;
 
}

.Back
{
 color: aliceblue;
 text-decoration: none;
 font-size: x-large;
 font-family: 'Courier New', Courier, monospace;
 font-style: bold;
}
