body
{
background-image: url(../DESIGN/Japan1.jpg);
background-size: cover;
background-repeat: no-repeat;
width: 100vw;
height: 100vh;
}


.Main
{
  
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  top: 10%;
  left: 20%;
  transform: translateX(-20%);
  transform: translateY(21%);
  width: 60vw;
  height: 80vh;
}

.Details
{
  

  /*This Section is for the POSITION */
  position: absolute;
  top: 10%;
  left: 5
  2%;
  transform: translateX(-5%);
  transform: translateY(-20%);

  width: 60vw;
  height: 70vh;

  /*This Section is for  TEXT DESIGN*/
  font-size: small;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
 
  color: black;


 }

 .Pro
 {
  font-style: bold;
  font-size: x-large;
  color: black;
  border-style: dashed;
  text-align: center;
 }
 


 .Media
{ 
  position: relative;
  
  top: 10%;
  left: 50%;
  transform: translateY(-10%);
  transform: translateX(-50%);
  width:  50vw;
  height: 10vh;
   
}


.FImage
{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateX(-15%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;

  border-color: white;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  padding: 0%;
  margin: 0%;

}


.GImage
{
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-35%);
  transform: translateY(-50%);
  width: 40x;
  height: 40px;
  cursor: pointer;
  

  border-color: white;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  padding: 0%;
  margin: 0%;
  
}
