

body
{
background-image: linear-gradient(to right, red, yellow);

}

.Header
{
position: relative;
top: 10%;
left: 70%;
transform: translateX(-50%);
transform: translateY(-50%);
width: 25%;
height: 10vh;

margin-bottom: 0%;


}

.Greetings
{
top: 30%;
left: 10%;
transform: translateX(-50%);
transform: translateY(-50%);
position: absolute;
font-family: 'Courier New', Courier, monospace;
font-size: xx-large;
background-image: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
text-shadow: 0 0 5px green,0 0 5px green,
                 0 0 5px green,0 0 5px green,
                 0 0 5px green,0 0 5px green,
                 0 0 5px green,0 0 5px green;

box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
border-image-slice: 1;
border-radius: 57px;
opacity: 0.5;
}


.Menu
{
background-image: url(../DESIGN/Japan1.jpg);
background-size:cover;
background-repeat: no-repeat;
width: 100%;
height: 100vh;
border-image-slice: 1;
border-radius: 57px;

}

.Choices
{
  position: relative;
  top: 10%;
  left: 40%;
  transform: translateX(50%);
  transform: translateY(50%);
  width: 60%;
  height: 50vh;
  margin-top: 0%;
  margin-bottom: 0%;
}


.LOG
{
  position: absolute;
  top: 70%;
  left: 3%;
  transform: translateX(50%);
  transform: translateY(50%);
  width: 30%;
  height: 10%;
  border-radius: 47px;
  border-color: rgb(7, 13, 13);
  color: black ;
  font-size: xx-large;
  font-style: bold;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  
  
}

.SIGN
{
  position: absolute;
  top: 90%;
  left: 2%;
  transform: translateX(50%);
  transform: translateY(50%);
  list-style: none;
  color: #1F51FF;
  font-size: large;
  font-style: bold;
  cursor: pointer;
}
 
.FORGET
{
  position: absolute;
  top: 90%;
  left: 20%;
  transform: translateX(50%);
  transform: translateY(50%);
  list-style: none;
  color:  #FF3131;
  font-size: large;
  font-style: bold;
  cursor: pointer;
}

.Media
{ 
  position: relative;
  top: 30%;
  left: 26%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 50%;
  height: 10vh;
   
}


.FImage
{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 85px;
  height: 85px;
  cursor: pointer;
}


.GImage
{
  
  position: absolute;
  top: 52%;
  left: 25%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.YImage
{
  
  position: absolute;
  top: 48%;
  left: 45%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.IImage
{
  
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
}


.TImage
{
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  cursor: pointer;
}