body
{
  background-color: blue;
}


.Menu
{
background-image: url(../DESIGN/Japan1.jpg);
background-size: cover;
background-repeat: no-repeat;
width: 100vw;
height: 100vh;
}


.Main
{
  
  background-size: cover;
  background-repeat: no-repeat;
  
  position: relative;
  top: 10%;
  left: 20%;
  transform: translateX(-1vh);
  transform: translateY(-15%);
  width: 60vw;
  height: 50vh;

}

.Details
{
  

  /*This Section is for the POSITION */
  position: absolute;
  
  top: 45%;
  left: 5%
  2%;
  transform: translateX(-5%);
  transform: translateY(-20%);

  width: 60vw;
  height: 50vh;

  /*This Section is for  TEXT DESIGN*/
  font-size: small;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
 
  color: black;


 }

 .Pro
 {
  font-style: bold;
  font-size: x-large;
  color: black;
  border-style: dashed;
  text-align: center;
 }
 


 .Foot
{ 
  position: relative;
  top: 20%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width:  100%;
  height: 10vh;

    
}


.Media

{
  position: absolute;
  
  top: 15%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 50%;
  height: 5vh;
  text-align: center;

  }


.FImage
{
 

  width: 40px;
  height: 40px;
  cursor: pointer;

  border-color: white;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
   margin-bottom: 0%;

}


.GImage
{

  width: 40x;
  height: 40px;
  cursor: pointer;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  
  margin-bottom: 0%;
}

.Submit
{
 color: black;
 
}


.Back
{
 color: aliceblue;
 text-decoration: none;
 font-size: x-large;
 font-family: 'Courier New', Courier, monospace;
 font-style: bold;
  cursor: pointer;
}
