* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(Fuji.jpg) center / cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

/* HEADER */
.header {
  margin-top: 2rem;
  color: white;
}

/* MAIN */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* BUTTON */
.log-btn {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  border-radius: 40px;
  border: 2px solid #000;
  cursor: pointer;
  background: url(Japan1.jpg) center / cover no-repeat;
}

/* LINKS */
.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sign {
  color: #1F51FF;
  font-weight: bold;
  text-decoration: none;
}

.forget {
  color: #FF3131;
  font-weight: bold;
  text-decoration: none;
}

.divider {
  width: 2px;
  height: 20px;
  background: black;
}

/* SOCIAL */
.social {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.social img {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}